
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="flex-container">
  <div class="flex-item">
    <div class="card-cow">
        <%= image_tag "vache1.jpg" %>
        <div class="card-cow-infos">
          <h2>Vache name</h2>
          <p>Tres belle vache <strong>relevant info</strong> only.</p>
    </div>
  </div>
  <div class="flex-item">
    <div class="card-cow">
        <%= image_tag(cloudinary_url("")) %>
        <div class="card-cow-infos">
          <h2>Vache name</h2>
          <p>Tres belle vache <strong>relevant info</strong> only.</p>
    </div>
  </div>
  <div class="flex-item">
    <div class="card-cow">
        <%= image_tag "vache1.jpg" %>
        <div class="card-cow-infos">
          <h2>Vache name</h2>
          <p>Tres belle vache <strong>relevant info</strong> only.</p>
    </div>
  </div>
  <div class="flex-item">
    <div class="card-cow">
        <%= image_tag "vache1.jpg" %>
        <div class="card-cow-infos">
          <h2>Vache name</h2>
          <p>Tres belle vache <strong>relevant info</strong> only.</p>
    </div>
  </div>
  <div class="flex-item">
    <div class="card-cow">
        <%= image_tag "vache1.jpg" %>
        <div class="card-cow-infos">
          <h2>Vache name</h2>
          <p>Tres belle vache <strong>relevant info</strong> only.</p>
    </div>
  </div>
  <div class="flex-item">
    <div class="card-cow">
        <%= image_tag "vache1.jpg" %>
        <div class="card-cow-infos">
          <h2>Vache name</h2>
          <p>Tres belle vache <strong>relevant info</strong> only.</p>
    </div>
  </div>
  <div class="flex-item">
    <div class="card-cow">
        <%= image_tag "vache1.jpg" %>
        <div class="card-cow-infos">
          <h2>Vache name</h2>
          <p>Tres belle vache <strong>relevant info</strong> only.</p>
    </div>
  </div>
</div>
