<h1>My Profile</h1>

<h2>My Infos</h2>
<p><%= @user.first_name %></p>
<p><%= @user.last_name %></p>
<p><%= @user.phone_number %></p>
<p><%= @user.address %></p>


<h3>My Cows</h3>
<% @cows.each do |cow| %>
  <ul>
    <li>
     <%= cow.name %>
    </li>
  </ul>
<% end %>


<h3>My Reservations</h3>
<% @bookings.each do |resa| %>
  <ul>
    <li>
      <%= resa.date %>
    </li>
  </ul>
<% end %>


<h3>My Cows' Bookings</h3>
<% @cows.each do |cow| %>
  <% cow.bookings.each do |booking| %>
    <ul>
      <li>
        <%= booking.date %>
        <%= booking.cow.name %>
        <%= booking.validated %>
        <% if booking.validated == "pending" %>
          <%= link_to "Confirmer", approve_booking_path(booking.id), data: {turbo_method: "PATCH"}, class: "btn btn-secondary" %>
          <%= link_to "Refuser", decline_booking_path(booking.id), data: {turbo_method: "PATCH"}, class: "btn btn-secondary" %>
        <% end %>
      </li>
    </ul>
  <% end %>
<% end %>
