<!DOCTYPE html>
<html>
  <head>
    <title>Rent A Cow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%# Fonts %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
<!-- rename the-script into script after copy-paste -->
  </head>

  <body>
  <%=render "shared/navbar"%>

    <%= yield %>
  <%= render "shared/flashes" %>
   <%=render "shared/footer"%>
  </body>
</html>
